<h1>Hello World</h1>
<form
  class="flex"
  action="/find-by-name"
  method="get"
  enctype="application/json"
>
  <label for="character-name">Character:</label>
  <input
    id="character-name"
    name="character"
    type="text"
    value=""
    placeholder="Name of a Character"
  />

  <label for="episode">Episode:</label>
  <input
    id="episode"
    name="episode"
    type="number"
    value=""
    placeholder="Episode Number"
  />
  <button type="submit">Send!</button>
</form>