:root {
  --clouds: #ecf0f1;
  --turquoise: #1abc9c;
  --greensea: #16a085;
  --night: #34495e;
  --midnight: #2c3e50;
  --transition: all 0.5s ease;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clouds);
  height: 100vh;
}
/* Hide the input */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.check-trail {
  display: flex;
  align-items: center;
  width: 9em;
  height: 5em;
  background: var(--midnight);
  border-radius: 2.5em;
  transition: var(--transition);
  cursor: pointer;
}
.check-handler {
  display: flex;
  margin-left: 0.5em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  background: var(--night);
  border-radius: 50%;
  transition: var(--transition);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.check-handler::before {
  content: "\00D7";
  color: white;
  font-size: 2em;
  font-weight: bold;
}

input[type="checkbox"]:checked + .check-trail {
  background: var(--greensea);
}

input[type="checkbox"]:checked + .check-trail > .check-handler {
  margin-left: 50%;
  background: var(--turquoise);
}

input[type="checkbox"]:checked + .check-trail .check-handler::before {
  content: "\2714";
}
