<h1>Add a book to our DB!</h1>
<form action="/books/create" method="post">
<label for="title">Title:</label>
  <input
    type="text"
    name="title"
    id="title"
    value=""
    placeholder="Title of the Book"
  />
  <label for="title">Author:</label>

   <input
    type="text"
    name="author"
    id="author"
    value=""
    placeholder="Author of the Book"
  />
  <label for="title">Description:</label>

   <input
    type="text"
    name="description"
    id="description"
    value=""
    placeholder="Description of the Book"
  />
  <label for="title">Rating:</label>
   <input
    type="number"
    name="rating"
    id="rating"
  />
  <button type="submit">Create the book!</button>
</form>