.flex {
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

/* body {
    background: blue;
} */

.flex > * {
    margin-bottom: 10px;
}

.img {
    width: 30vw;
}